<section class="footer_section">
    <div class="container">
      <div class="team_container">
        <div class="row">
          <div class=" col-sm-6 col-md-2-5 col-lg-1-5">
            <div class="box ">
              <div class="img-box">
                <a target="_blank" href="https://research.google/"><img src="../images/logo-google.png" height="50" class="" alt=""></a>
              </div>
              
            </div>
          </div>
          <div class="col-sm-6 col-md-2-5 col-lg-1-5">
            <div class="box ">
              <div class="img-box">
                <a target="_blank" href="https://www.utwente.nl"><img src="../images/logo-ut.png" height="50"class="" alt=""></a>
              </div>
              
            </div>
          </div>
          <div class="col-sm-6 col-md-2-5 col-lg-1-5">
            <div class="box ">
              <div class="img-box">
                <a target="_blank" href="https://www.weber.edu/"><img src="../images/logo-weber.png" height="50" class="" alt=""></a>
              </div>
              
            </div>
          </div>
          <div class="col-sm-6 col-md-2-5 col-lg-1-5">
            <div class="box ">
              <div class="img-box">
                <a target="_blank" href="https://tec.mx/"><img src="../images/logo-tec.png" height="50" class="" alt=""></a>
              </div>
              
            </div>
          </div>
          <div class="col-sm-6 col-md-2-5 col-lg-1-5">
            <div class="box ">
              <div class="img-box">
                <a target="_blank" href="https://www.latinxinai.org/"><img src="../images/logo-lxai.png" height="50" class="" alt=""></a>
              </div>
              
            </div>
          </div>

        </div>
      </div>
     
    </div>
  </section>